.imgGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  	grid-gap: 20px;
  	grid-auto-rows: minmax(100px, auto);

}

.imgGrid img{
	height: 320px;
	width: 550px;
}

.bigFrameDiv {
	overflow: hidden;
  	padding-top: 56.25%;
  	position: relative;
}

.bigFrameDiv iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
 } 

