/* IMAGES GRID */

.imgGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 20px;
		grid-auto-rows: minmax(100px, auto);
	z-index: 1;

}

/* .imgGrid img{
	height: 320px;
	width: 550px;
} */
.img__wrap {
	position: relative;
	/* height: 320px;
	width: 550px; */
  }
  
  .img__description_layer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(36, 62, 206, 0.6);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  
	/* transition effect. not necessary */
	transition: opacity .2s, visibility .2s;
  }
  
  .img__wrap:hover .img__description_layer {
	visibility: visible;
	opacity: 1;
  }
  
  .img__description {
	transition: .2s;
	transform: translateY(1em);
  }
  
  .img__wrap:hover .img__description {
	transform: translateY(0);
  }


/* FRAME */


.bigFrameDiv {
	overflow: hidden;
  	padding-top: 56.25%;
		position: relative;
		z-index: 2;
}

.bigFrameDiv iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
 } 



