
:root {
  --nice-blue: rgba(36, 62, 206, 0.6);
  --less-black: rgba(29,29,45);
  
}


p, .title {
  font-family: "Raleway";
}

.index-main {
    display: grid;
    grid-template-columns: 0.4fr 2.6fr;
} 

.sidebar {
    width: 90%;
}



@media only screen and (max-width: 850px) {
  .sidebar{display: none;}
  .index-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.bigFrameDiv {
  display: none;
}
