.head-main {
  width: 100%;
  position: sticky;
  z-index: 1;
  top: 0;
  display: flex;
  flex-direction: column;
  background: var(--less-black);
}

.head-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.bottom-bar {
  width: 100%;
  background: black;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: white;
  display: none;
}
.head-logo {
  font-family: "Raleway";
  font-size: 1.75rem;
}

small {
    font-family: "Raleway";
}

.mobile-bio-main {
  background: white;
  display: none;
}

a {
  font-size: 0.8rem;
}




@media only screen and (max-width: 850px) {
  .bottom-bar{display: flex;}
  .social-links{display: none;}
  .mobile-pages-main{display: block;}
  .mobile-bio-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}




/* Dropdown Button */
.dropbtn {
  background-color: var(--less-black);
  color: white;
  padding: 16px;
  font-size: 0.8rem;
  /* border: none; */
  border-radius: 0.8em;
  transition: all 0.4s;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  display: block;
}

.dropbtn:focus {
  outline: 0;
}

.dropbtn:hover,
.dropbtn:active {
  background-color: #8F5C2C;
    border-bottom: 4px solid teal;
    color: white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 1em;

}


/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.4s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--nice-blue);
  border-radius: 1em;

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--nice-blue);
}