.sidebar-main {
    width: 100%;
    
}

.side-social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-links {
    margin-top: 3rem;
    padding-top: 4rem;
    font-family: "Raleway";
}


.profile-img {
     border-radius: 50%;
     box-shadow: 1px 1px 3px;
}

small, h3, p {
    font-family: 'Raleway';
    
}

.author-bio {
    font-size: 2vw;
}

button {
  background-color:black;
  color: white;
  padding: 10px 20px;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.7em;
  transition: all 0.4s;
}

/* button:focus {
    outline: 0;
} */

button:hover  {
    background-color: var(--nice-blue);
    color: black;
  }

@media screen and (max-width: 1900px) {
    button {
        padding: 10px;
        font-size: 0.6rem;
    }
}